@media  only screen and (max-width: 1200px) {
    .nav-list{
        flex-direction: column;
    }

    .navbar{
        /* to make transition happen in navbar in responsive css ....since height is not applied to navbar....therefore transition 
    wasnt applying for navbar */
        height: 450px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }

    .right-nav{
        text-align: center;
    }

    #search{
        width: 100%;
    }

    .burger{
        /* again make visible the burger icon if it comes below 1200px */
        display: block;
    }
        /* to make navbar height very less when width becomes small */
    .h-nav-res{
        height: 72px;
    }

    /* to make all nav items invisible when width becomes smaller so that we can make these nav items visible when clicked on 
    burger usinh js */
    /* this is used in nav list and nav right to hide all nav items and right search bar, button */
    .v-class-res{
        opacity: 0;
    }
    /* -----------------------------------------------------first section-------------------------------------- */
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    
    .text-big{
        text-align: center;
    }

    .text-small{
        text-align: center;
    }


    .buttons{
        text-align: center;
    }
    


    /* --------------------------------------secright---------------------------------------------------------- */

    .section{
        flex-direction: column-reverse;   
        /* images now comes above text if col-rev */
    }
}