/* imported font fom google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* below applies to all elements of css page -the whole page */
*{
    margin: 0;
    padding: 0;
}

/* applying style to nav list and then to nav list items i.e., li----and then nav lists items i.e., a */
/* this applies to all nav list items */

/* navbar has two classes so each class will be displayed in row format by default, i.e., navlist and rightnav */
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    /* if we made top 0, then nav bar will not scroll */
    top: 0;
    position: sticky;
    cursor: pointer;
    

   

}


.background{
    background: rgba(0, 0, 0, 0.7) url("building.jpeg");
    background-size: cover;
    background-blend-mode: darken;

}


/* making it display flex----so that it can be aligned in any direction */
.nav-list{

    width:70%;
    /* background-color: rgb(11, 11, 11); */
    /* to make list items to come in horizonatl way */
    display: flex;
    align-items: center;
    


}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 1250px;

}

/* this applies to list elements  */
.nav-list li{
    /* to make dots beside list ele to disapeare */
    list-style: none;
    /* to make list items to have same space between them */
    padding: 26px 30px;

}


/* this applies to each list item */
.nav-list li a{
    /* to make text underline to disappeare */
    text-decoration: none;
    color: wheat;
    font-family: 'Roboto', sans-serif;

}

.nav-list li a:hover{
    text-decoration: none;
    color: whitesmoke;
    
}

.right-nav{
    width:30%;
    /* background-color: red; */
    /* this aligns all items of rightnav in rightmost pos  */
    text-align: right; 
    padding: 0 24px
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.btn-sm{
    padding: 4px 8px;
    border: 3px solid ghostwhite;
    
    border-radius: 15px;
    font-size: 16px;
    color: #e9e9f4;
    background: none;
    cursor: pointer;
}

.btn-sm:hover{
    color: rgb(252, 249, 249);

}

.burger{
    position: absolute;
    /* in order to decide left, right, top n bottom dist from box absolute is used */
    right: 5%;
    top: 15px;
    cursor: pointer;
    display: none;
    /* to hide this and make visible using js */

}
/* this line is to get burger(3 lines) in web page after submit */
.line{
    width: 33px;
    height: 4px;
    background-color: white;
    margin: 3px 3px;
}


/* -----------------------------------------background firstSection---------------------------------------------------- */

/* apply padding to box-main which contains two sections */

.firstSection{
    /* it applies to all space except its previous box(navbar) */
    height: 100vh;
}
.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* color here -> applies to font present in box-main */
    color: aliceblue;
    font-family: serif;
    max-width: 50%;
    margin: auto;
    /* we made this 80% of first section..... */
    height: 70%;
}


.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}


.secondhalf{
    /* it defines empty space  */
    width: 30%;

}

.secondhalf img{
    width: 75%;
    border: 4px solid whitesmoke;
    border-radius: 250px;
    /* since img is left sided, so to make it centralised....block is used and margin auto */
    display: block;
    margin: auto;

}

.text-big{
  font-size: 50px;

}
   
.text-small{
  font-size: 25px;
}

.btn{
    padding: 10px 8px;
    border: 3px solid ghostwhite;
    border-radius: 15px;
    font-size: 16px;
    color: #eccccc;
    background: none;
    cursor: pointer;
}

.btn:hover{
    padding: 10px 8px;
    border: 3px solid ghostwhite;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bolder;
    color: brown;
    background-color: aliceblue;
    cursor: pointer;
}


/* ---------------------------------------secright----------------------------------------- */

.section{
    display: flex;
    /* height: 500px; never hardcode height in resoonsive web it will be difficult */
    width: 77%;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;     
    /* copy this from google fonts and paste it wherever required */
}

.paras{
    padding : 0 40px;
    
}

.sectiontag{
    padding: 13px
}

.imgf{
    height: 200px;
    width: 280px;
    margin-top: 10px;
    border: 3px solid black;
}

/* -------------------------------------------------secleft------------------------------------------------ */

/* .secleft{
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    width: 77%;
    justify-content: center;
    align-items: center;
    margin: auto;
} */ 
/* instead of writing whole code again....we can just add new propertyin new class and merge with old class */
/* adding this to section class where it is required...here in second section */


.section-left{
    flex-direction: row-reverse;
}


/* ----------------------------------------------------contact---------------------------------------------------------- */

.contact{
    background-color: aliceblue;
}

.text-center{
    margin: auto;
    text-align: center;
    padding: 8px 0;
    font-family: 'Roboto', sans-serif;    
}

.form{
    max-width: 70%;
    padding: 0 40%;

}

.btn-dark{
    padding: 3px 8px;
    border: 3px solid #37375a;
    margin-bottom: 10px;
    color: #754e05;
    

}

.btn-dark:hover{
    padding: 3px 8px;
    margin-bottom: 10px;

}

.form-input{
    width: 180%;
    margin: 20px 0;
    padding: 4px 0;
    border: 3px solid rgb(48, 48, 48);
    border-radius: 13px;
}

/* -------------------------------------------------------------footer---------------------------------------------- */

.footer{
    padding: 8px 0;
}


.text-footer{
    margin: auto;
    text-align: center;
    padding: 8px 0;
    font-family: 'Roboto', sans-serif;   
    font-size: small;
    color: antiquewhite;

}